*.swp
target/*
lib*
*.orig
*jar
.idea
.lein-failures
dc-sdk.log
.classpath
.lein-deps-sum
.lein-plugins/
.project
.lein-env
.nrepl-port
.lein-repl-history
figwheel_server.log
resources/Essential_Stock_File*
resources/public/js/out/*
dev-resources/
data-representations.json
appstate.json
resources/public/css/site-unused.css
*.min.css
.#*
checkouts/
