@charset "utf-8";

body {
    max-width: 800px;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:12px;
    font-weight:normal
    line-height: 1.5em;
    background: #eaeaea;
    color: #4d4d4d;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}


h1, h2, h3 {
  color: #000;
}

h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.order,.balance {
    border-collapse:collapse
}

.order td,.order th,.balance td,.balance th {
    border:#999 1px solid
}

.order td,.balance td {
    padding:4px
}

.order th,.balance th {
    background:#A4D1FE;
    padding:8px
}

.order tr:nth-child(even),.balance tr:nth-child(even) {
    background:#ECECEA
}

.order tr:nth-child(odd),.balance tr:nth-child(odd) {
    background:#EAF4FF
}

table.order {
    width:100%
}

div.balance {
    float:right;
    margin-top:8px;
    margin-bottom:8px
}

.rightjust {
    text-align:right
}

.bold {
    font-weight:bold
}


button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	color: inherit;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}


button,
input[type="checkbox"] {
  outline: none;
}

input, label {
    display:block;
}

input#code {
    width: 50px;
}

input#quantity {
    width: 50px;
}

div > label {
    font-style: italic;
}

.origin {
    font-style: italic;
    margin-right:1em;
    font-weight: bold;
}

.description {
    font-weight: bold;
}

.orderinput {
    float:left;
    margin-top:3px;
    margin-bottom:3px;
    margin-left:5px;
    margin-right:10px;
}

span.orderinput {
    margin-top:3px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
    border: solid 1px black;
    background: #ccc;
}

input.submit {
    margin-top:13px;
}



.destroy {
	display: none;
	position: relative;
	top: 0;
	right: 10px;
	bottom: 0;
	width: 40px;
	height: 40px;
	margin: auto;
	font-size: 22px;
	color: #ff8a8a;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.destroy:hover, input.submit:hover, input.submit:focus {
	text-shadow: 0 0 1px #000,
				 0 0 10px rgba(199, 107, 107, 0.8);
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
}

.destroy:after {
	content: '✖';
}

.destroy {
	display: block;
}
