body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;

  max-width: 800px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}


body {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:normal
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.5em;
	background: #eaeaea;
	/* background: #eaeaea url('bg.png'); */
	color: #4d4d4d;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}


h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}


.order,.balance {
    border-collapse:collapse
}

.order td,.order th,.balance td,.balance th {
    border:#999 1px solid
}

.order td,.balance td {
    padding:4px
}

.order th,.balance th {
    background:#A4D1FE;
    padding:8px
}

.order tr:nth-child(even),.balance tr:nth-child(even) {
    background:#ECECEA
}

.order tr:nth-child(odd),.balance tr:nth-child(odd) {
    background:#EAF4FF}

table.order {
    width:100%
}

div.balance {
    float:right;
    margin-top:8px;
    margin-bottom:8px
}

.rightjust {
    text-align:right
}

.bold {
    font-weight:bold
}

@charset "utf-8";

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	color: inherit;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}


button,
input[type="checkbox"] {
  outline: none;
}


@media (min-width: 899px) {
	.learn-bar {
		width: auto;
		margin: 0 0 0 300px;
	}

	.learn-bar > .learn {
		left: 8px;
	}

	.learn-bar #todoapp {
		width: 550px;
		margin: 130px auto 40px auto;
	}
}

input, label {
    display:block;
}

.orderinput {
    float:left;
    margin-right:20px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  border: solid 1px black;
  background: #ccc;
}
